<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="/css/style.css" media="all" type="text/css">
</head>
<body>
<nav>
	<img src="/img/counting_stars_logo2.png">
	<% unless session[:user] %>
		<a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br> </div>
		<h2>未ログイン</h2>
	<% else %>
		<a href="/signout" class="signoutBtn">Signout</a>
		<p class="loginname"><%= User.find(session[:user]).name%></p>
		<input type="submit" value="Search" class="searchBtn">
		<input type="text" name="search" placeholder="word" class="searchbox">

	<% end %>
</nav>

<a href="/new" class="createNewCount">CREATE NEW COUNT</a><br>
<div class="main">
	<% @counts.each do |count| %>
	<div class="countBox-container">
		<div class="countBox" style="overflow:hidden; background-image:url(<%= count.image %>); background-size:cover;">

		<h2><%= count.name  %></h2><br>
		<h2 style="font-size:100px; width:100%; text-align:center;"><%= count.number %></h2>
		<p><%= User.find(count.user_id).name %></p>
	<form action='/count/<%= count.id %>/add' method="post">
		<input type="submit" value="+" class="submitBtn">
	</form>
	</div>
	<% end %>
</div>

</body>
</html>
