<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="/css/style.css" media="all" type="text/css">
</head>
<body>

	<% unless session[:user] %>
	<div class="loginBtn">
	<a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br> </div>
	<h2>未ログイン</h2>
	<% else %>
	<a href="/signout">ログアウト</a>

	<h2><%= User.find(session[:user]).name%>としてログイン</h2>

	<a href="/new">Create New Count</a>
</nav>
	<% @counts.each do |count| %>
	<div class="image" style="overflow:hidden; height:100px; width:150px; background-image:url(<%= count.image %>); background-size:cover;"></div>
	<h2><%= count.name  %></h2>

	<h2><%= Count.find(count.user_id).number %></h2>

	<p><%= User.find(count.user_id).name %></p>

	<form action='/count/<%= count.id %>/add' method="post">
	<input type="submit" value="+">
	<% end %>
	</form>

	<% end %>

</body>
</html>
